// Here you can add other styles
.btn-download {
  padding: 13px 35px;
  background: #48d0ff;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
  }
}
.table {
  tr {
    background: #ffffff;
  }
  &.tr-text-right td{
    text-align: right;
  }
}
.nav-dropdown-items {
  .nav-link {
    padding-left: 2rem;
    font-size: 90%;
    .nav-icon {
      font-size: inherit;
    }
  }
}


.vacancy {
  display: inline-block;
  width: 100%;
  background: #fff;
  color: #000000;
  margin-bottom: 25px;
  box-shadow: -2px 5px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  &:hover {
    text-decoration: none;
  }
  .name {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .vacancy-field {
    font-size: 16px;
  }
}